@namespace ShouldIAutomateThat.Components

@if (HasValues)
{
    <div>
        <h3>Time Calculation Result:</h3>
        <p>Hours Saved: @Result?.HoursSaved</p>
        <p>Cost Saved: @Result?.CostSaved</p>
        <p>Hours Spent: @Result?.HoursSpent</p>
        <p>Cost to Implement: @Result?.CostToImplement</p>
        
        <p>Result: @Result?.ShouldIAutomateThat</p>
    </div>
}

@code {
    [Parameter]
    public TimeCalculationResult? Result { get; set; }

    private bool HasValues => Result != null;
}
