@page "/"

<PageTitle>Should I Automate That?</PageTitle>

<h1>Should I Automate That?</h1>

<p>Inspired by <a target="_blank" href="https://xkcd.com/1205/">https://xkcd.com/1205/</a> and <a target="_blank" href="https://xkcd.com/1319/">https://xkcd.com/1319/</a>, this app helps you figure out if you should automate a task or just do the damn thing.</p>

